<!DOCTYPE html>
<html>
<head>
  <title>Pakistan Podcast Company</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="hV-haQkwCMxY75mUKWOgzpzQ_XzWvntbJ0i6ZInWorE" />
</head>
<body>

<%= yield %>

</body>
</html>
